* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 80%;
  margin: 0px auto;
  padding: 0 15px;
}

/* header */

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #d4d4d4;
}

nav {
  display: flex;
  gap: 35px;
}

nav a {
  color: black;
}

.header-wrapper .btn {
  background: #2e40a0;
  color: white;
  padding: 8px 25px;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .header-wrapper {
    flex-direction: column;
  }
  .header-wrapper .logo {
    margin: 15px 0px;
  }
  .header-wrapper .btn {
    margin: 20px 0px;
  }
}

/* hero-sec */

.hero-wrapper {
  text-align: center;
  padding: 80px 0px;
}

.hero-wrapper h1 {
  margin-bottom: 15px;
}

.hero-wrapper p {
  margin-bottom: 20px;
}

.hero-wrapper .btn {
  background: #2e40a0;
  color: white;
  padding: 8px 25px;
  border-radius: 10px;
}

/* images-sec */
.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.images-wrapper div {
  width: 32%;
  margin-bottom: 25px;
}

.images-wrapper img {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .images-wrapper div {
    width: 48%;
  }

  .images-wrapper img {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .images-wrapper div {
    width: 98%;
  }

  .images-wrapper img {
    width: 100%;
  }
}

/* footer */
footer p {
  text-align: center;
  padding: 30px 0px;
}
